
.navbar{
    background-color: #567580;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
}
.nav-home{
    color: #fff;
    display: flex;
    font-size: 20px;
}
.nav-about{
    color: #fff;
    display: flex;
    font-size: 20px;
}
.home-icon{
    margin-right: 3px;
}
