*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(96, 183, 154);
    min-height: 100vh;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.75)),url("pexels-vlada-karpovich-4050318.jpg");   
    background-size: cover;
    background-repeat: top left;
    
}
.main{
    border:2px solid white;
    width:400px;
    padding: 25px;
    border-radius: 25px;
    box-shadow:0px 0px 10px black;
    backdrop-filter: blur(10px);
}
.main h1{
    text-align: center;
}
.main .input-list{
    height:50px;
    width:100%;
    margin:25px 0;
    position:relative;
    border:none;
}
.input-list input{
    border-radius:25px;
    width:100%;
    height:100%;
    color:#fff;
    padding:20px 45px 20px 20px;
    font-size: 16px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
}
.input-list input::placeholder{
    color: #fff;
}
.input-list i{
    position:absolute;
    top:35%;
    right:20px;
    font-size: 20px;
}
.forget-pass{
    margin:25px 0;
    display:flex;
    justify-content: space-between;
}
.btn button{
    border-radius:25px;
    width:100%;
    height:50px;
    border:none;
    outline:none;
    font-weight:550;
    letter-spacing: 1px;
    cursor:pointer;
}
.register{
    margin:20px 0 15px 0;;
    width:100%;
    height: auto;
    text-align: center;
}
.register p a{
    font-weight: 600;
}
.main a{
    text-decoration: none;
    color: #fff;
}
.main a:hover{
    text-decoration: underline;
}